.form-input {
  @apply relative;

  input,
  select,
  textarea {
    @apply py-1.5 rounded-lg border-2 border-gray-200 text-gray-500 w-full focus-visible:outline-none;

    &.group {
      @apply pl-8;
    }
    @apply pl-3;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input::placeholder {
    opacity: 0.6;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  input:focus::-moz-placeholder {
    opacity: 0;
  }
  input:focus:-ms-input-placeholder {
    opacity: 0;
  }
  input:focus:-moz-placeholder {
    opacity: 0;
  }
}
